{% block html_head_container %}
	{% include 'partial/html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{ body_class }} site" data-template="base.twig">
{{ function('wp_body_open') }}
<a class="skip-link screen-reader-text" href="#content">{{ _e('Skip to content') }}</a>

<!-- Top bar -->
<div class="w-full bg-[#d9dbd0] text-sm text-[#333]">
	<div class="wide-container flex items-center justify-center gap-4 py-1.5 md:justify-between">
		<ul class="flex items-center gap-2">
			<li>
				<a href="tel:{{ telefono }}" class="text-[#333] no-underline hover:underline">{{ telefono }}</a>
			</li>
			<li class="hidden md:inline">{{ direccion }}</li>
		</ul>
		<nav class="hidden items-center gap-2 md:flex" aria-label="Enlaces de navegación superior">
			{% for enlace in enlaces %}
				{% if not loop.first %}
					<span class="select-none text-[#666]" aria-hidden="true">|</span>
				{% endif %}
				<a href="{{ enlace.enlace }}" class="text-[#333] no-underline hover:underline">{{ enlace.etiqueta }}</a>
			{% endfor %}
		</nav>
	</div>
</div>

<header class="header wide-container">
	{% block header %}
		<!-- Logo -->
		<div role="banner" class="logo">
			<a href="{{ site.url }}" rel="home">
				<img src="{{ function('get_template_directory_uri') }}/assets/img/logo.png" alt="{{ site.name }}" class="max-w-[180px]"/>
			</a>
		</div>

		<div
			class="search">
			{# Quotation notice #}
			<div class="search__quotation-notice">
				<a href="{{ cart_url }}" title="Ver tu carrito de cotizacion">
					<span>{{ function('wp_kses_data', function('sprintf', function('_n', '%d producto', '%d productos', cart_contents_count, 'hidroelectricas'), cart_contents_count)) }}</span>
					&nbsp;para cotizar&nbsp;
				</a>
			</div>

			{# Search #}
			<div class="search__form">
				{{ function('get_product_search_form') }}
			</div>
		</div>

		{{ include('woocommerce/cart/fragment-link.twig') }}

		{# Hamburger menu #}
		<div class="hamburguer-menu">
			<a href="">
				<img src="{{ function('get_template_directory_uri') }}/assets/icons/hamburger-menu.svg" alt="{{ site.name }}"/>
			</a>
		</div>


	{% endblock %}
</header>

<section
	id="content" role="main" class="content-container {% block content_class %}{% endblock %}">
	<div class="wrapper">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
	{% if sidebar %}
		<aside class="layout-sidebar">
			{{ sidebar }}
		</aside>
	{% endif %}
      </section>

{% block footer %}
	<footer id="footer">
		{% include 'partial/footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}</body></html>
